<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="http://code.jquery.com/jquery-1.5.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!--
-->
</head>

<body>
<div id="title">
<img src="univalle_logo.png" alt="Universidad del Valle" id="univalle_logo">
<h1>Bionovo Mercury concentration database </h1>
</div>


<div id="info" class="main_elem">
<p class="text_centered">
<b>Welcome to the Mercury concentration database of research group Bionovo.</b>
</p>
<p style="margin: 0 60px 0 60px;">
Interactions with the database are done on the right pannel. You can view the database by clicking on the <b>get data</b> button. You can also download the data in <i>csv</i> format. For test purposes, insertion of new elements is possible. 
<p>
</div>
<div id="content">

<div id="data" class="main_elem">
<table id="data_table">

<tr>
 <th scope="col">place</th>
 <th scope="col">date</th>
 <th scope="col">time</th>
 <th scope="col">concentration (ppb)</th>
</tr>
<tr>
 <td>la toma- river1</td>
 <td>31.10.18</td>
 <td>13:15</td>
 <td>500</td>
</tr>
<% items.forEach(function(item){%>
<tr>  
<td><%=item.place%></td>
<td><%=item.date%></td>
<td><%=item.time%></td>
<td><%=item.concentration%></td>
<%});%>
</table>
</div>


<div id="right-col" class="main_elem">

    <div id="controls">
    <h3> Filter data </h3>
    <div class="input">
        <label for="place">Place</label>
        <input type="text" id="place" name="place">
    </div>
    <div class="input">
        <label for="date">Date</label>
        <input type="text" id="date" name="date">
    </div>
    </br>
    <!--<input type="button" value="query system" id="query_sys" style="display: inline-block" />-->
    <a href="/get-data" class="button"> get data </a>
    </div>
    <div id="insertion">
    <h3> Insert entry to database </h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="place">Place</label>
            <input type="text" id="place" name="place">
        </div>
        <div class="input">
            <label for="date">Date</label>
            <input type="text" id="date" name="date">
        </div>
        <div class="input">
            <label for="time">Time</label>
            <input type="text" id="time" name="time">
        </div>
        <div class="input">
            <label for="concentration">Concentration</label>
            <input type="text" id="concentration" name="concentration">
        </div>
        <button type="submit"> insert </button>
    </form>
    </div>
</div>

</div>

<!--
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="content">Content</label>
            <input type="text" id="content_form" name="content">
        </div>
        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>
<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
    <% items.forEach(function(item) { %>
            <article class="item">
                <div>Title: <%= item.title %></div>
                <div>Content: <%= item.content %></div>
                <div>Author: <%= item.author %></div>
                <div>ID: <%= item._id %></div>
            </article>
    <% }); %>
    </div>
</section>
<section class="update">
    <h3>Update Data</h3>
    <form action="/update" method="post">
		<div class="input">
			<label for="id">ID</label>
			<input type="text" id="id" name="id">
		</div>
        <div class="input">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="content">Content</label>
            <input type="text" id="content_form" name="content">
        </div>
        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <button type="submit">UPDATE</button>
    </form>
</section>

<section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
		<div class="input">
			<label for="id">ID</label>
			<input type="text" id="id" name="id">
		</div>
		<button type="submit">DELETE</button>
	</form>
</section>

-->




<script>
// Socket logic

socket = io.connect('/browser');

socket.onopen = function (event) {
	console.log('Client Connected');
	socket.send('hello'); // send a message event
}

$("#query_sys").click(function(){
	socket.emit('query_sys','');
});

// listening

socket.on('data',function(data){
	
	newLine = "<tr><td>"+1+"</td><td>"+2+"</td><td>"+3+"</td><td>"+4+"</td></tr>";

	$("#data_table").append(newLine);

});

</script>
	
	
</body>

</html>

