<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="http://code.jquery.com/jquery-1.5.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
</head>

<body>

<!-- Title block -->
<div id="title">
<img src="univalle_logo.png" alt="Universidad del Valle" id="univalle_logo">
<h1>Bionovo Mercury concentration database </h1>
</div>

<!-- Information block -->
<div id="info" class="main_elem">
    <p class="text_centered">
    <b>Welcome to the Mercury concentration database of research group Bionovo.</b>
    </p>
    <p style="margin: 0 60px 0 60px;">
    Interactions with the database are done on the right pannel. You can view the database by clicking on the <b>get data</b> button. You can also download the data in <i>csv</i> format. For test purposes, insertion of new elements is possible. 
    <p>
</div>

<!-- Content block -->
<div id="content">
    <div id="left-col" class="main_elem">
        <div id="table_tools">
        <a href="/exporttocsv-selec" class="button_exportcsv"> export selection to CSV </a>
        <a href="/exporttocsv" class="button_exportcsv"> export all to CSV </a>
        </div>
        <table id="data_table">
            <tr>
                <th scope="col">place</th>
                <th scope="col">date</th>
                <th scope="col">time</th>
                <th scope="col">concentration (ppb)</th>
                <th scole="col"> ID </th>
                <th scole="col"> batch </th>
            </tr>
            <% if(locals.items){%>
                <% items.forEach(function(item){%>
                <tr>
                <td><%=item.place%></td>
                <td><%=item.date.getDate()%>/<%=item.date.getMonth()%>/<%=item.date.getFullYear()%></td>
                <td><%=item.date.getHours()%>:<%=item.date.getMinutes()%></td>
                <td><%=item.concentration%></td>
                <td><%=item._id%></td> 
                <td><%=item.batch%></td> 
                </tr>
                <%});%>
            <%}%>
        </table>
    </div>

    <!-- Right column containing user input -->
    <div id="right-col" class="main_elem">

        <div id="query">
            <h3 class="text_centered"> Query data </h3>
            <form action="/query-data" method="post" class="group">
                <div class="input">
                    <label for="query_place">Place</label>
                    <input type="text" id="query_place" name="place">
                </div>
                <div class="input">
                    <label for="query_batch">Batch</label>
                    <input type="text" id="query_batch" name="batch">
                </div>
                <div class="input">
                    <label for="query_ID">ID</label>
                    <input type="text" id="query_ID" name="ID">
                </div>
                <div class="input">
                    <label for="query_date_from">Date <span style="font-weight: normal; padding-left: 25px" >from</span></label>
                    <input type="date" id="query_date_from" name="date_from" placeholder="dd.mm.yyyy">
                </div>
                <div class="input">
                    <label for="query_date_to"><span style="font-weight: normal; padding-left: 65px" >to</span></label>
                    <input type="date" id="query_date_to" name="date_to" placeholder="dd.mm.yyyy">
                </div>
                <button type="submit"> search data </button>
            </form>
            <!--<input type="button" value="query system" id="query_sys" style="display: inline-block" />-->
            <a href="/get-data" class="button"> get all data </a>
        </div>
        </br>
        <hr>

        <div id="insertion">
            <h3 class="text_centered"> Insert entry to database </h3>
            <form action="/insert" method="post">
                <div class="input">
                    <label for="place">Place</label>
                    <input type="text" id="place" name="place">
                </div>
                <div class="input">
                    <label for="date">Date</label>
                    <input type="text" id="date" name="date" placeholder="dd.mm.yyyy">
                </div>
                <div class="input">
                    <label for="batch">Batch</label>
                    <input type="text" id="batch" name="batch">
                 </div>  
                <div class="input">
                    <label for="concentration">Concentration</label>
                    <input type="text" id="concentration" name="concentration">
                </div>
                <button type="submit"> insert </button>
            </form>
        </div>
        </br>
        <hr>
        <div id="deletion">
            <h3 class="text_centered"> Delete data </h3>
            <p> You can delete some element of the database by entering its unique ID:</p>
            <form action="/delete-elem" method="post">
                <div class="input">
                    <label for="id_del">ID</label>
                    <input type="text" id="id_del" name="id_del">
                </div>
                <button type="submit"> delete </button>

            </form>
            </br>
            <p> To reset the entire database, click the following button <span style="color:red">(warning: all data will be permanently erased)</span>:</p>
            <form action="/delete-all" method="post">
                <div class="input">
                    <label for="pass_del">password</label>
                    <input type="password" id="pass_del" name="pass_del">
                </div>
                <button type="submit"> reset database </a>
            </form>

        </div>
        </br>
        <hr>
    </div>
</div>




<script>
// Socket logic

socket = io.connect('/browser');

socket.onopen = function (event) {
	console.log('Client Connected');
	socket.send('hello'); // send a message event
}

$("#query_sys").click(function(){
	socket.emit('query_sys','');
});

// listening

socket.on('data',function(data){
	
	newLine = "<tr><td>"+1+"</td><td>"+2+"</td><td>"+3+"</td><td>"+4+"</td></tr>";

	$("#data_table").append(newLine);

});

</script>
	
	
</body>

</html>

