<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.5.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
</head>

<body>

<!-- Title block -->
<div id="title">
<a href="/"><img src="univalle_logo.png" alt="Universidad del Valle" id="univalle_logo"></a>
<a href="/" style="text-decoration: none;"><h1>Bionovo Mercury concentration database </h1></a>
</div>

<!-- Information block -->
<div id="info" class="main_elem">
    <p class="text_centered">
    <b>Welcome to the Mercury concentration database of research group Bionovo.</b>
    </p>
    <p style="margin: 0 60px 0 60px;">
    Interactions with the database are done on the right pannel. You can view the database by clicking on the <b>get data</b> button. You can also download the data in <i>csv</i> format. Insertion of one element into the database is possible; the required fields are Place, Date and Concentration.
    Deletion of any element (row) of the database is done through its associated <b>unique ID</b>.
    <p>
</div>

<!-- Content block -->
<div id="content">
    <div id="left-col" class="main_elem">
        <div id="table_tools">
        <a href="/exporttocsv-selec" class="button_exportcsv"> export selection to CSV </a>
        <a href="/exporttocsv" class="button_exportcsv"> export all to CSV </a>
        </div>
        <div id="myChart" style="height: 400px; width: 90%;"></div>
        <div id="table_container" style="overflow-x:auto;">
            <table id="data_table">
                <tr>
                    <th scope="col">place</th>
                    <th scope="col">date</th>
                    <th scope="col">time</th>
                    <th scope="col">concentration (ppb)</th>
                    <th scole="col"> batch </th>
                    <th scole="col"> weather </th>
                    <th scole="col"> temperature </th>
                    <th scole="col"> ID </th>
                </tr>
                <% if(locals.items){%>
                    <% items.forEach(function(item){%>
                    <tr>
                    <td><%=item.place%></td>
                    <td><%=item.date.getDate()%>/<%=item.date.getMonth()+1%>/<%=item.date.getFullYear()%></td>
                    <td><%=item.date.getHours()%>:<%=(item.date.getMinutes()<10?'0':'') + item.date.getMinutes()%></td>
                    <td id="concentration_data"><%=item.concentration%></td>
                    <td id="batch_data"><%=item.batch%></td> 
                    <td><%=item.meteo%></td> 
                    <td><%=item.temperature==undefined ? '' : item.temperature + '°C'%></td> 
                    <td><%=item._id%></td> 

                    </tr>
                    <%});%>
                <%}%>
            </table>
        </div>
    </div>

    <!-- Right column containing user input -->
    <div id="right-col" >

        <div id="query" class="main_elem right_elem">
            <h3 class="text_centered"> Query data </h3>
            <form action="/query-data" method="post" class="group">
                <div class="input">
                    <label for="query_place">Place</label>
                    <input type="text" id="query_place" name="place">
                </div>
                <div class="input">
                    <label for="query_batch">Batch</label>
                    <input type="text" id="query_batch" name="batch">
                </div>
                <div class="input">
                    <label for="query_ID">ID</label>
                    <input type="text" id="query_ID" name="ID">
                </div>
                <div class="input">
                    <label for="query_date_from">Date <span style="font-weight: normal; padding-left: 25px" >from</span></label>
                    <input type="date" class="datepicker" id="query_date_from" name="date_from" placeholder="dd/mm/yyyy">
                </div>
                <div class="input">
                    <label for="query_date_to"><span style="font-weight: normal; padding-left: 65px" >to</span></label>
                    <input type="date" class="datepicker" id="query_date_to" name="date_to"  placeholder="dd/mm/yyyy">
                </div>
                <button type="submit"> search data </button>
            </form>
            <!--<input type="button" value="query system" id="query_sys" style="display: inline-block" />-->
            <a href="/get-data" class="button"> get all data </a>
        </div>
        <div id="insertion" class="main_elem right_elem">
            <h3 class="text_centered"> Insert entry to database </h3>
            <form action="/insert" method="post">
                <div class="input">
                    <label for="place">Place</label>
                    <input type="text" id="place" name="place">
                </div>
                <div class="input">
                    <label for="date">Date</label>
                    <input type="text" class="datepicker" id="date" name="date" placeholder="dd/mm/yyyy">
                </div>
                <div class="input">
                    <label for="batch">Batch</label>
                    <input type="text" id="batch" name="batch">
                 </div>  
                <div class="input">
                    <label for="concentration">Concentration</label>
                    <input type="text" id="concentration" name="concentration">
                </div>
                <div class="input">
                    <label for="person">Person</label>
                    <input type="text" id="person" name="person">
                </div>
                <div class="input">
                    <label for="method">Method</label>
                    <input type="text" id="method" name="method">
                </div>
                <div class="input">
                    <label for="comment">Comment</label>
                    <input type="text" id="comment" name="comment">
                </div>
                <button type="submit"> insert </button>
            </form>
        </div>
        <div id="deletion" class="main_elem right_elem">
            <h3 class="text_centered"> Delete data </h3>
            <p> You can delete some element of the database by entering its unique ID:</p>
            <form action="/delete-elem" method="post">
                <div class="input">
                    <label for="id_del">ID</label>
                    <input type="text" id="id_del" name="id_del">
                </div>
                <button type="submit"> delete </button>

            </form>
            </br>
            <p> To reset the entire database, click the following button <span style="color:red">(warning: all data will be permanently erased)</span>:</p>
            <form action="/delete-all" method="post">
                <div class="input">
                    <label for="pass_del">Password</label>
                    <input type="password" id="pass_del" name="pass_del">
                </div>
                <button type="submit"> reset database </a>
            </form>

        </div>
    </div>
</div>



<script>


    // jQuery logic
    $( function() {
        $( ".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });
    } );


    // Chart.js logic

    var graph_data = [];

    var items = <%-JSON.stringify(locals.items)%>;

    // puts the raw server input into batch groups
    var get_data_canvas = function(items){

        var batches = {};

        items.forEach(function(item){

            if (!batches[item.batch]){
                batches[item.batch] = [item];
            } else {
                batches[item.batch].push(item);

            }
        });
        return batches;
    }

    var batches = get_data_canvas(items);

    // forms a line for each batch
    var lines = [];
    for(var key in batches) {
        var item_array = batches[key];  //un array de docs


        var item = {};
        item.type = 'line';
        item.dataPoints = [];

        item_array.forEach(function(point){
            item.dataPoints.push({x : new Date(point.time), y : point.concentration});
        });


        lines.push(item);
    }

      $( function(){
        
        var myChart = new CanvasJS.Chart("myChart", {
            backgroundColor: "#F4F4F4",
            title:{
                text: "Mercury distribution by batch"  ,
                fontFamily: "tahoma",
                fontSize: 30,
                fontWeight: "lighter",  

            },
            axisX:{
                title: "timeline",
                labelFormatter: function (e) { return CanvasJS.formatDate(e.value, "DD MMM");},
            },
            axisY: {
                title: "Concentration (ppb)",
                maximum: 300
            },
            data: lines
        });

        myChart.render();
        console.log('rendered');
        });
        
        





    // Socket logic
    socket = io.connect('/browser');
    socket.onopen = function (event) {
        console.log('Client Connected');
        socket.send('hello'); // send a message event
    }

</script>
	
	
</body>

</html>

